<template>
    <div class="b-cd">
        <img :src="poster" alt="">
        <h3>{{ title }}</h3>
        <strong>{{ author }}</strong>
        <span>{{ year }}</span>
    </div>
</template>

<script>
export default {
    props: ['title', 'author', 'year', 'poster']
}
</script>

<style lang="scss">
    .b-cd {
        flex-basis: 300px;
        padding: 20px;
        margin: 20px;
        background-color: rgb(46, 58, 70);
        border-radius: 10px;
        text-align: center;
        img {
            width: 100%;
        }
        h3 {
            font-size: 25px;
        }
    }
</style>