<template>
    <div class="b-cds-container">
        <b-cd v-for="(cd, index) in cds" 
            :key="index"
            :title="cd.title"
            :author="cd.author"
            :poster="cd.poster"
            :year="cd.year"
        >
        </b-cd>
    </div>
</template>

<script>
export default {
    data() {
        return {
            cds: []
            // cds: [
            //     {
            //         title: "New Jersey",
            //         author: "Bon Jovi",
            //         poster: "https://www.onstageweb.com/wp-content/uploads/2018/09/bon-jovi-new-jersey.jpg",
            //         year: "1988"
            //     },
            //     {
            //         title:"Ten's summoner's tales",
            //         author:"Sting",
            //         poster:"https://images-na.ssl-images-amazon.com/images/I/41JD3CW65HL.jpg",
            //         year:"1993"
            //     },
            //     {
            //         title:"Steve Gadd Band",
            //         author:"Steve Gadd Band",
            //         poster:"https://cdn2.jazztimes.com/2018/05/SteveGadd-800x723.jpg",
            //         year:"2018"
            //     },
            // ]
        }
    },
    mounted() {
        const self = this;

        axios.get('https://flynn.boolean.careers/exercises/api/array/music')
            .then(function(result) {
                self.cds = result.data.response;
            });
    }
}
</script>

<style lang="scss">
    .b-cds-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 70px - 70px);
        overflow-y: auto;
    }
</style>