<template>
    <footer>

    </footer>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">
    footer {
        background-color: rgb(46, 58, 70);
        height: 70px;
        padding: 0 50px;
    }
</style>