<template>
    <header>
        <img :src="logo" />
    </header>
</template>

<script>
export default {
    data() {
        return {
            logo: 'https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png'
        }
    }
}
</script>

<style lang="scss">
    header {
        background-color: rgb(46, 58, 70);
        height: 70px;
        padding: 0 50px;
        img {
            height: 50px;
            margin-top: 10px;
        }
    }
</style>