<template>
    <div class="container">
        <b-header></b-header>

        <b-cds-container></b-cds-container>

        <b-footer></b-footer>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">
    * {
        font-family: 'Nunito';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        min-height: 100vh;
        background-color: #1E2D3B;
    }
</style>